$colorOrange: #bd5303; 
$colorOrangeHover: #ff6f00; 
$colorRed: #460303; 
$colorWhite: #fff; 
$colorYellow: #6e7500; 
$colorYellowHover: #f5b400; 
$colorBlackOpacity: rgba(0, 0, 0, 0.7);
$colorBlack: #000; 
$colorGray: #555; 
